body {
  font-family: "Poppins", sans-serif;
}

.first-div {
  text-align: center;
  color: white;
  margin: 0%;
  padding: 20px 30px;
}

h1 {
  font-size: 60px;
  margin: 5% 20%;
}

p {
  color: gray;
}

.para-color {
  color: aliceblue;
}

.paragraph {
  text-align: center;
  margin: 2.5% 20%;
}

a {
  color: white;
  background-color: tomato;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration-line: none;
}

.first-section {
  background-image: url(images/donation13.jpg);
  background-size: cover;
}

.second-section {
  text-align: center;
}

h3 {
  font-size: 30px;
}

.display-amount {
  display: flex;
  justify-content: center;
  text-align: center;
}

h4 {
  color: gray;
  margin: 20px 10px;
  padding: 10px;
  /* width: 20%; */
  border-radius: 5px;
  background-color: rgba(169, 169, 169, 0.117);
}

.color-tk {
  color: tomato;
  border: 2.5px solid tomato;
  background-color: rgba(255, 99, 71, 0.199);
}

#other-amount {
  color: grey;
}

.third-section {
  text-align: center;
}

.donate-plan {
  display: flex;
  margin: 0% 10%;
}

.donate-plan-item {
  border: 2px solid gray;
  background-color: rgba(128, 128, 128, 0.137);
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}
.new-image {
  width: 100px;
  height: 100px;
}
.new-paragraph {
  margin-top: 5px;
}
#part1 {
  background-color: azure;
}

#part2 {
  background-color: lightpink;
}

#part3 {
  background-color: blanchedalmond;
}

img {
  width: 75%;
  border-radius: 5px;
}

.fourth-section {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.fifth-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.sixth-section {
  text-align: center;
  margin: 5% 5%;
}

#email-subscribe {
  display: flex;
  justify-content: space-around;
  margin: 0% 30%;
  border: 50px solid antiquewhite;
}

h6 {
  margin: 0px 0px;
  padding: 2.5% 5%;
  width: 100%;
  align-items: center;
}

#email {
  color: gray;
  background-color: azure;
  text-align: left;
}

#subscribe {
  color: aliceblue;
  background-color: tomato;
}

footer {
  text-align: center;
  font-style: inherit;
  background-color: black;
  padding: 10px;
}

h2 {
  color: tomato;
  font-size: 50px;
}
